:root{
    --cor_especia1: #cbcf0c;
    --cor_especial2: #282221;
    --cor_especial3: #e6e6e6;
    --cor_especial4: #cccf0c42;
    --cor_de_fundo: #fff;
    --cor_de_fundo_dark: #000;
    --cor_de_fonte: #000;
    --cor_de_fonte_dark: #fff;
    --bg_section: #fff;
    --bg_section_dark: #000;
    --bg_sombra: hsla(0, 0%, 0%, 0.404);
    --tamanho_fonte_titulo: 30px;
    --tamanho_font_texto: 16px;
    --tamanho_font_aside: 10px;

}


/*Configurações geral da estrutura visual do site.*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
/*Configurações de corpo (Auterar font e background).*/
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: var(--tamanho_font_texto);
    color: var(--cor_de_fonte);
    background-color: var(--cor_de_fundo);
    display: grid;
}
/*Aumentar o cabeçalho e suas tags decendentes.*/
header{
    width: 100%;
    padding: 1rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: var(--bg_sombra);
    background-color: var(--cor_especia1);
}
/*Navegação e filhos*/
nav{
    max-width: 1200px;
    display: flex;
    margin: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 2.0rem;
}
nav a{
    text-decoration: none;
    transition: 0.3s;
    font-weight: 500;
}
nav a:hover,
nav a.active {
    opacity: 1;
    font-weight: bold;
}
/*Imagem da logo no cabeçalho.*/
picture > #logo{
    width: 200px;
}
main{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

picture > #imagemtitulo{
    max-width: 100%;
    height: auto;
}
section{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
article{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-radius: 5px;
    transition: 0.3s;
    background-color: var(--cor_especial4);
}
article:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.192);
    transition: 0.3s;
    transform: translateY(-5px);
}
article > img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
article > p{
    text-indent: 5%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: var(--tamanho_font_texto);
}
article > h3{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: var(--tamanho_fonte_titulo);
    color: var(--cor_especia1);
    margin: 0;
}
form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--cor_especial2);
    border-radius: 5px;
    padding: 1rem;
    transition: 0.3s;
}
form > fieldset{
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    transition: 0.3s;
}
.campos > label{
    font-weight: 600;
    display: block;
    transition: 0.3s;
}
.campos > input{
    width: 100%;
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--cor_especial2);
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.campos > input:focus{
    outline: 0;
}
.campos.success input{
    border-color: var(--cor_especia1);
}
.campos.error input{
    border-color: rgb(185, 13, 13);
}
.campos .error{
    font-size: 15px;
    height: 10px;
    color: rgb(185, 13, 13);
}
#formulario{
    margin: 0 auto;
}
 #cadastro{ 
    text-align: center;
    text-decoration: none;
    color: var(--cor_de_fonte);
    font-size: 25px;
    background-color: var(--cor_especial4);
    height: 60px;
    width: 285px;
    border-radius: 10px;
    justify-content: center;
}
.gp_style{
    color: var(--cor_especia1);
}
/*.erro{
    color: rgba(250, 81, 81, 0.808);
    font-size: 13px;
    font-weight: 600;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}*/
#enviar{
    border: none;
    background-color: var(--cor_especia1);
    color: #fff;
    border-radius: 5px;
    height: 50px;
    width: 100%;
}
#banner{
    text-align: center;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#banner > img{
    width: 100%;
    height: auto;
}
#botaocadastro{
    display: flex;
    justify-content: center;
}
#titulo_cadastro{
    font-family: var(--tamanho_fonte_titulo);
    color: var(--cor_especia1);
}
@media (min-width: 768px) {
    #formulario {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 1rem;
        max-width: 1024px;
        margin: 0;
    }
    #cadastro{
        text-align: center;
        text-decoration: none;
        color: var(--cor_de_fonte);
        font-size: 30px;
        background-color: var(--cor_especial4);
        height: 70px;
        width: 285px;
        border-radius: 10px;
    }
    form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: 0.3s;
    }
    #enviar{
        grid-column: 2 /3 ;
        justify-self: end;
        height: 50px;
        width: 150px;
    }
}